h1 {
    color: Blue;
    text-align: center;
}
p {
    color: rgb(113, 183, 226);
    text-align: center;
}
table {
    border: 2px solid black;
    text-align: center;
}
tr, td {
    border: 2px solid grey;
}